# Importing libraries
import pandas as pd
import numpy as np
import os

In [23]:
import pandas as pd
import numpy as np 
import os


# Importing data set
path = r'C:\Users\kanch\Documents\10-08-2023 Instacart Basket Analysis\02 Data\Prepared Data'

In [24]:
# Importing data set orders_checked
df_ords = pd.read_csv(os.path.join(path, 'orders_checked.csv'), index_col = False)

In [25]:
import pandas as pd
import numpy as np 
import os




# Importing data set orders_prior

path = r'C:\Users\kanch\Documents\10-08-2023 Instacart Basket Analysis\02 Data\Original Data'

In [29]:
# Importing data set orders_prior
df_ords_prior = pd.read_csv(os.path.join(path,'orders_products_prior.csv'), index_col = False)

In [30]:
# check the output df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,0.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [31]:
df_ords.shape

(3421083, 8)

In [32]:
df_ords_prior.shape

(32434489, 4)

In [37]:
# create new merged dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [38]:
#check ouput of merged dataframe
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [40]:
# check the frequency after merge
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [45]:
exportPath = r'C:\Users\kanch\Documents\10-08-2023 Instacart Basket Analysis\02 Data\Prepared Data'

In [46]:
# Export merged dataframe as pickle
df_merged_large.to_pickle(os.path.join(exportPath,'orders_products_combined.pkl'))