# Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\kanch\Documents\10-08-2023 Instacart Basket Analysis\02 Data\Original Data\4.3_orders_products'

In [3]:
# Import df_prods
df_prods =  pd.read_csv(os.path.join(path,'products.csv'), index_col = False)

In [4]:
#import path
path = r'C:\Users\kanch\Documents\10-08-2023 Instacart Basket Analysis\02 Data\Prepared Data'

In [5]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path,'orders_products_combined.pkl'))

In [6]:
#check rows and columns of df_ords_prods_combined
df_ords_prods_combined.shape

(32434489, 12)

In [7]:
# check rows and columns of df_prods
df_prods.shape

(49693, 5)

In [8]:
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [9]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

# Determine a suitable way to combine the orders_products_combined dataframe with your products data set
A suitable way to merge the two dataframes df_prods and df_ords_prods_combined 
is by the column product_id, found in both dataframes

In [10]:
# Merging the ords_prods_combined df with the df_prods via the product_id column
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods,on ='product_id')

In [11]:
# Confirm the results of the merge using the merge flag.

# checking df_ords_prods_merged dataframe
df_ords_prods_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [12]:
#Checking the values in the _merge column
df_ords_prods_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
#Checking the merged shape
df_ords_prods_merged.shape

(32434212, 16)

In [14]:
# Export Path
exportpath = r'C:\Users\kanch\Documents\10-08-2023 Instacart Basket Analysis\02 Data\Prepared Data'

In [15]:
#Exporting the newly merged dataframe; Using pickle format
df_ords_prods_merged.to_pickle(os.path.join(exportpath,'orders_products_merged.pkl'))